div.lines
  include ./assets/images/lines.svg
div.about
  div.about__image-wrapper
    img.about__image(src="./assets/images/hero-image.png" alt="Hero Image")
  div.about__info
    h1.about__header Susan Graham
    h3.about__description Front End Developer based in London. Proficient in React Native, Web sockets, Dev life and other development lols that take up more lines.
    h2.about__label Projects
    ul.about__projects
      li ITV Box Office
      li Global Sports Product
      li Codey Gonzalez
      li TBC
