div.lines
  include ./assets/images/lines.svg
div.project
  div.project__info
    h1.project__header ITV Box Office
    p.project__description project undertaken at my time at Ostmodern. Working under the senior front end developer, I was given responsibility over various sections of the product.
    h2.project__label Skills Used
    ul.project__skills
      li React
      li Redux
      li Enzyme
      li API integrations
    p.project__link View product at 
    a(href="https://www.itvboxoffice.com") www.itvboxoffice.com
  div.project__image-wrapper
    img.project__image(src="./assets/images/itv-project-image.png" alt="Project Image")
    div.project__github 
      p View on Github
      img(src="./assets/images/download-arrow-bold.svg")